.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 12px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight:500;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all .12s ease-in-out;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }

    &:active {
      transform: scale(.95);
    }

    &.google-button {
        background-color:#2269DB;
        &:hover {
            background-color: #0f4db3;
            color: white;
            border: 1px solid #053c94;
        }
    }

    &.inverted {
      background-color: white;
      color: black;
      border: 1px solid black;
      &:hover{
        background-color: black;
        color: white;
        border: none;
      }
    }
  }
  